# Python
__pycache__/
*.py[cod]
*.so
dist/
build/

# ML/PyTorch
*.pt
*.pth
*.ckpt
*_logs/
wandb/
data/
test-log/
# IDE
.vscode/
.idea/
.*/

# OS
.DS_Store
Thumbs.db

# Audio files
*.wav
*.mp3
*.flac

# Temp
*.tmp
*.log

#
copy/
scripts/
src/env/
fig/




configs/cd4mt_medium_notes.yaml


train.py
visualize_cd4mt.ipynb
run_py.sh
test_flash.ipynb
train_ct_cae-exec.ipynb


